body {
    margin: 0;
    padding: 0;
    height: 95vh;
    background-color: rgb(37, 37, 37);
}

#title {
    text-align: center;
    color: rgb(190, 190, 190);
}

.hidden {
    display: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vmin;
    max-width: 960px;
    margin: auto;
}

#square-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.square {
    width: 35vmin;
    height: 35vmin;
    margin: 10px;
    border-radius: 5px;
}

#red, #blue, #green, #yellow {
    transition: transform 150ms;
}

#red:is(.selected), #blue:is(.selected), #green:is(.selected), #yellow:is(.selected) {
    filter: brightness(120%);
    box-shadow: 0px 0px 10px 3px;
    -webkit-box-shadow: 0px 0px 10px 3px;
}

#red:hover, #blue:hover, #green:hover, #yellow:hover {
    transform: scale(1.02, 1.02);
}

#red:active:is(.active), #blue:active:is(.active), #green:active:is(.active), #yellow:active:is(.active) {
    transform: scale(.98);
    filter: brightness(90%);
}

#red {
    background-color: #DC2626;
    color: hsl(0, 82%, 51%);
}

#red:active:is(.active) {
    box-shadow: inset 0px 0px 15px 5px #a11616;
    -webkit-box-shadow: inset 0px 0px 15px 5px #a11616; 
}

#red:is(.gameOver) {
    background-color: #3f1515;
}

#blue {
    background-color: #2563EB;
    color: hsl(221, 93%, 53%);
}

#blue:active:is(.active) {
    box-shadow: inset 0px 0px 15px 5px #0c41b3;
    -webkit-box-shadow: inset 0px 0px 15px 5px #0c41b3; 
}

#blue:is(.gameOver) {
    background-color: #071d4e;
}

#green {
    background-color: #059669;
    color: hsl(161, 100%, 30%);
}

#green:active:is(.active) {
    box-shadow: inset 0px 0px 15px 5px #026344;
    -webkit-box-shadow: inset 0px 0px 15px 5px #026344; 
}

#green:is(.gameOver) {
    background-color: #00291c;
}

#yellow {
    background-color: #FCD34D;
    color: hsl(46, 100%, 65%);
}

#yellow:active:is(.active) {
    box-shadow: inset 0px 0px 15px 5px #c2980f;
    -webkit-box-shadow: inset 0px 0px 15px 5px #c2980f; 
}

#yellow:is(.gameOver) {
    background-color: #443400;
}
